<%
   user = notification
   classname = "watcher clearfix access_level_#{user.access_level_id}"
   is_assigned = @task.owners.include?(user)
   classname += " is_assigned" if is_assigned
-%>
<div class="<%= classname %>">
  <%= hidden_field_tag("users[]", user.id, :class => "watcher_id") %>
  <%= hidden_field_tag("assigned[]", user.id, :class => "assigned",
      :disabled => !@task.owners.include?(user)) %>

  <label>
    <%= unread_toggle_for_task_and_user(@task, user) %>
    
    <%
      content = content_tag(:span, "Assigned", :class => "label label-success")

      if @task.project.nil? or current_user.can?(@task.project, "reassign")
        content = link_to(content, "#", :class => "toggle-link")
      end
    -%>
    
	<%
      test = content_tag(:span, "Call", :class => "label label-success")
      test = link_to(test, "/weemo/call/#{user.id}", :class => "weemo")
    -%>

    <%= content %>
    <%= test %>
  </label>

  <% active_class = user.active ? "":"inactive" %>
  <%= link_to user.to_html, "/users/edit/#{user.id}", :class => "username pull-left #{active_class}", :target => "_blank" %>
  <%= link_to('<i class="icon-remove"></i>'.html_safe, "#", :class => "removeLink") %>
</div>
