<% @page_title = "Weemo - #{$CONFIG[:productName]}" %>
<% content_for :head do %>
  <%= javascript_include_tag "jquery-1.9.0" %>
  <%= javascript_include_tag "BrowserDetect-0.1" %>
  <%= javascript_include_tag "weemoVideoCall" %>
<% end %>

<div id="weemo">


<legend>
  <%= @user_connected.name %> ( <%= @user_connected.email%> )  call <%=@user.name  %> ( <%=@user.email%>)

</legend>



	<script>
	
		var URI = "<%=@user_connected.email%>";
		var KEY = "d9u79wexumefr7se7uwu";
		var Display_Name = "<%=@user_connected.username%>";
		var weemoVideoCall = new Lucl(URI, KEY, Display_Name);
		
		weemoVideoCall.debug = true;
		weemoVideoCall.lucl_sm("connect");
		
		weemoVideoCall.errorTypeMalformed = function()
		{
  			  console.log ("Weemo Video Driver communication error");
  		};
	
		weemoVideoCall.luclOkAction = function ()
		{
    		console.log ("Weemo Video Driver local connection ok");
    	};

		weemoVideoCall.mgmtOkAction = function ()
		{
    		console.log ("Weemo Video Cloud connection ok");
    	};
    	
		weemoVideoCall.sipOkAction = function ()
		{
			console.log ("Weemo sipOkAction");
					
			var obj = new Object (); 
			obj.uri = "<%=@user.email%>";
			obj.key = KEY;
			obj.displayNameToCall = "<%=@user.username%>";
			weemoVideoCall.lucl_sm ("createCall", obj);
		};

		weemoVideoCall.sipKoAction = function ()
		{
			console.log(" Weemo sipKoAction");
		};
		


		weemoVideoCall.onCallCreated = function()
		{
   		 	console.log ("Call created")
   		};
		weemoVideoCall.onStartCall = function()
		{
  		  	console.log ("Call starting")
  		};
		weemoVideoCall.onActiveCall = function() 
		{
			console.log ("SIP call started")
		};
		weemoVideoCall.onTerminatedCall = function()
		{
			console.log ("SIP call terminated")
		};
		weemoVideoCall.errorTypeMalformed = function ()
		{
			console.log ("ErrorTypeMalformed")
		};
	
		
	</script>

</div>
