<% @page_title = "Weemo - #{$CONFIG[:productName]}" %>
<% content_for :head do %>
  <%= javascript_include_tag "jquery-1.9.0" %>
  <%= javascript_include_tag "BrowserDetect-0.1" %>
  <%= javascript_include_tag "weemoVideoCall" %>
<% end %>

<div id="weemo">

	<p> Test page weemo</p>


	<script>
	
		var URI = "morgan.collino@gmail.com";
		var KEY = "d9u79wexumefr7se7uwu";
		var Display_Name = "collin_m";
		var weemoVideoCall = new Lucl(URI, KEY, Display_Name);
		
		weemoVideoCall.debug = true;
		weemoVideoCall.lucl_sm("connect");
		
		weemoVideoCall.errorTypeMalformed = function()
		{
  			  console.log ("Weemo Video Driver communication error");
  		};
	
		weemoVideoCall.luclOkAction = function ()
		{
    		console.log ("Weemo Video Driver local connection ok");
    	};

		weemoVideoCall.mgmtOkAction = function ()
		{
    		console.log ("Weemo Video Cloud connection ok");
    	};
    	
		weemoVideoCall.sipOkAction = function ()
		{
			console.log ("Weemo sipOkAction");
		};

		weemoVideoCall.sipKoAction = function ()
		{
			console.log(" Weemo sipKoAction");
		};
		
	</script>

</div>
