<div class="navbar clear">
  <div class="navbar-inner">
  <div class="container" style="width:auto;">

  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>

  <div class="nav-collapse">
  <ul id="primary" class="nav">
    <% if menu_class("activities") == "active" %>
      <li class="dropdown <%=menu_class("activities") %>">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to ('Add New Widget'), '#', :id => "add-widget-menu-link" %>
          </li>
        </ul>
      </li>
    <% else %>
      <li class="<%= menu_class("activities") %>">
        <%= link_to "#{_('Overview') }", :controller => 'activities', :action => 'index' %>
      </li>
    <% end %>

    <li class="dropdown <%= menu_class("tasks") %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to _("List"), :controller => 'tasks', :action => 'index' %>
        </li>
        <li>
          <%= link_to _("New Task"), :controller => 'tasks', :action => 'new' %>
        </li>
        <% if current_templates.size > 0 %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="icon-chevron-right pull-right"></b>
              <span>New from Template</span>
            </a>
            <ul class="dropdown-menu">
              <% current_templates.each do |t| %>
                <li>
                  <%= link_to t, clone_task_path(t.task_num) %>
                </li>
              <% end %>
           </ul>
          </li>
        <% end %>
        <% if current_user.admin? %>
          <li>
            <%= link_to _("Planning"), planning_tasks_path %>
          </li>
        <% end %>
      </ul>
    </li>

    <li class="<%= menu_class("timeline") %>">
      <%= link_to "#{_('Timeline')}", :controller => 'timeline', :action => 'index' %>
    </li>

    <% if current_user.can_any?(current_user.projects, 'report') %>
      <li class="<%= menu_class("billing") %>">
        <%= link_to "#{_('Billing')}", :controller => 'billing', :action => 'index' %>
      </li>
    <% end %>

    <% if current_user.company.show_wiki? %>
    <li class="<%= menu_class("wiki") %>">
      <%= link_to "#{_('Wiki')}", :controller => 'wiki', :action => 'show', :id => nil %>
    </li>
    <% end %>


    <li class="<%= menu_class("weemo") %>">
      <%= link_to "#{_('Weemo')}", :controller => 'weemo', :action => 'show', :id => nil %>
    </li>

    <li class="dropdown <%= menu_class("projects") %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to _("List"), :controller => 'projects', :action => 'index' %>
        </li>
        <% if current_user.create_projects? %>
          <li>
            <%= link_to _("New Project"), :controller => 'projects', :action => 'new' %>
          </li>
        <% end %>
        <li class="divider"></li>
        <li>
          <%= link_to _("Milestones"), milestones_path %>
        </li>
      </ul>
    </li>

    <% if current_user.can_view_clients? %>
    <li class="dropdown <%= menu_class("customers") %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacts<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to _("New Company"), :controller => 'customers', :action => 'new' %>
        </li>
        <li>
          <%= link_to _("New Person"), :controller => 'users', :action => 'new' %>
        </li>
      </ul>
    </li>
    <% end %>

    <% if current_user.use_resources? %>
    <li class="dropdown <%= menu_class("resources") %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to(_("New Resource"), new_resource_path) %></li>
      </ul>
    </li>
    <% end %>
  </ul>

  <%= render :partial => "layouts/menubar_search" %>

  <% active = controller.controller_name + "/" + controller.action_name %>
  <ul id="primary" class="nav pull-right">
    <li class="dropdown <%= " active" if active == "users/edit_preferences"  %>">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.display_login %><b class="caret"></b></a>
      <ul class="dropdown-menu preference">
      <% if current_user.admin > 0 %>
        <li>
          <%= link_to _('My account'), :controller => 'users', :action => 'edit_preferences' %>
        </li>
        <li>
          <%= link_to _('Company Settings'), :controller => 'companies', :action => 'edit', :id => current_user.company_id %>
        </li>
      <% else %>
        <li>
          <%= link_to _('My account'), :controller => 'users', :action => 'edit_preferences' %>
        </li>
      <% end %>
        <li><%= link_to "#{_('Log Out')}", destroy_user_session_path %></li>
      </ul>
    </li>
  </ul>

  </div>
  </div>
  </div>
</div>
